@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

label {
  font-size: 15px;
  display: block;
  padding-left: 15px;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background: #f9fafe;
}

button {
  font-family: "Open Sans", sans-serif;
}

video {
  max-width: 700px;
}

.limit {
  display: block;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  font-size: 0;
}

.first {
  padding-bottom: 100px;
}

.first .limit {
  position: relative;
}

.first .first_back {
  background: url("../images/first_back.png") center no-repeat;
  width: 85%;
  height: 100%;
  position: absolute;
  left: -1%;
  top: 0px;
}

h2.subtitle {
  position: relative;
  font-size: 26px;
  line-height: 1.15;
  color: #fff;
  font-weight: 400;
  max-width: 342px;
  padding-right: 12px;
}

h1.title {
  position: relative;
  font-weight: 700;
  font-size: 50px;
  line-height: 0.92;
  color: #fff;
  letter-spacing: -0.5px;
  max-width: 40%;
  padding-right: 10px;
  z-index: 1;
}

.first h1.title span {
  display: block;
}

h3.title {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  color: #1789bb;
  z-index: 1;
}

h2._title {
  display: block;
  font-size: 45px;
  line-height: 0.96;
  color: #000;
  font-weight: 700;
}

.first_wrapp_position {
  position: relative;
  z-index: 2;
}

.first_prod-block {
  position: absolute;
  left: 56%;
  top: 69.3%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.first_prod-block .prod_wrapp {
  width: 474px;
  height: 540px;
  position: relative;
}

.prod_wrapp:before {
  content: "";
  background: url(../images/author_ava.jpg) center no-repeat;
  width: 156px;
  height: 156px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 10%;
  margin: 45px 0 0 95px;
  z-index: 99999;
}

.first__text {
  font-size: 26px;
  color: #fff;
  max-width: 40%;
  padding: 0 0 30px;
}

.first__text_mobile {
  display: none;
}

.first_prod-block .decorate {
  position: absolute;
  left: 37.4%;
  top: 62.8%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.first_prod-block .avatar {
  position: absolute;
  left: 36.6%;
  top: 24.7%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.first_prod-block .prod {
  position: relative;
  z-index: 1;
  max-width: 190px;
  top: 40%;
  left: -10%;
}

.first_prod-block .product {
  position: relative;
  max-width: none;
  z-index: 1;
  width: 190px;
  top: 40%;
}

.first .name_prod {
  position: relative;
  margin-left: 3px;
  font-size: 180px;
  text-align: center;
  font-weight: 900;
  color: #1789bb;
  padding: 10px 0;
  margin-top: 40px;
}

.first .name_prod img {
  max-width: none;
}

.first .limit {
  position: relative;
  padding-top: 55px;
}

.first .avatar {
  border-radius: 50%;
  position: absolute;
  max-width: none;
}

.first .decorate {
  position: absolute;
  max-width: none;
}

.first .stick_list {
  position: absolute;
  left: 50.8%;
  top: 41.4%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.first .stick_list-item {
  max-width: none;
  position: absolute;
}

.first .stick_list-item img {
  max-width: none;
}

.first .stick_list-item._2 {
  left: -37px;
  top: 74px;
}

.first .stick_list-item._3 {
  left: -90px;
  top: 122px;
}

.mark_wrapp {
  position: relative;
}

.mark_wrapp .mark_back {
  background: url(../images/check-mark.png) center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 308px;
  left: 50%;
  top: 68%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.mark_list {
  position: relative;
  display: block;
  width: 50%;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  margin: 35px auto -2px;
}

.mark_list .mark_list-item {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  width: 25%;
  vertical-align: top;
  font-size: 18px;
  line-height: 1;
  color: #000;
  text-align: center;
  padding: 0 15px;
  position: relative;
}

.mark_list .mark_list-item:nth-child(1):before {
  background: url("../images/check_white.png") center no-repeat;
}

.mark_list .mark_list-item:nth-child(2) {
  left: -18px;
}

.mark_list .mark_list-item:nth-child(3) {
  left: -24px;
}

.mark_list .mark_list-item:nth-child(4) {
  left: -16px;
}

.mark_list .mark_list-item:before {
  content: "";
  background: url("../images/check.png") center no-repeat;
  width: 47px;
  height: 47px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.mark_list .mark_list-item .black {
  font-weight: 700;
}

.first .dance {
  position: absolute;
  left: 91.8%;
  top: 60%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-width: none;
}

.wrapp_btn {
  display: block;
  position: relative;
  margin: 1rem auto;
  max-width: 280px;
  width: 100%;
  z-index: 2;
}

.wrapp_btn:before {
  content: "";
  position: absolute;
  pointer-events: none;
  background: #e11962;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.3s;
  transition: transform 0.4s, opacity 0.3s;
}

.btn {
  outline: none;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  z-index: 1;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1;
  padding: 19px 10px;
  width: 100%;
  color: #f9fafe;
  border: 2px solid #e11962;
  border-radius: 30px;
  -webkit-box-shadow: 0 6px 26px 0 rgba(148, 17, 65, 0.51);
  -moz-box-shadow: 0 6px 26px 0 rgba(148, 17, 65, 0.51);
  box-shadow: 0 6px 26px 0 rgba(148, 17, 65, 0.51);
  -webkit-transition: -webkit-box-shadow 0.2s, color 0.2s;
  -moz-transition: -moz-box-shadow 0.2s, color 0.2s;
  transition: box-shadow 0.2s, color 0.2s;
}

.btn_price {
  outline: none;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  z-index: 1;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1;
  padding: 10px 7px;
  width: 100%;
  color: #f9fafe;
  border: 2px solid #e11962;
  border-radius: 30px;
  -webkit-box-shadow: 0 6px 26px 0 rgba(148, 17, 65, 0.51);
  -moz-box-shadow: 0 6px 26px 0 rgba(148, 17, 65, 0.51);
  box-shadow: 0 6px 26px 0 rgba(148, 17, 65, 0.51);
  -webkit-transition: -webkit-box-shadow 0.2s, color 0.2s;
  -moz-transition: -moz-box-shadow 0.2s, color 0.2s;
  transition: box-shadow 0.2s, color 0.2s;
}

.btn:hover {
  color: #e11962;
}

.mission {
  padding-top: 27px;
}

.mission_content {
  position: relative;
  padding: 58px 68px 65px;
  background-color: #fff;
}

.mission .shadow2 {
  position: absolute;
  right: -45px;
  bottom: -50px;
}

.mission .sign {
  position: absolute;
  right: 79px;
  bottom: 21px;
}

.mission .content_right_color {
  background-image: url("../images/back_labor.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 61.2%;
}

.content_right_color:after {
  content: "";
  width: 212px;
  height: 102px;
  background: url("../images/signature.svg") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 50px 25px 0;
}

.mission .limit {
  max-width: 1144px;
  padding: 85px 90px 80px 70px;
  background: #f3f3f3;
  position: relative;
}

.mission .right_color {
  position: absolute;
  right: 0;
  top: 0;
  width: 60.5%;
  height: 100%;
  background: #dce1ec;
}

.mission .right_color .right_color_wrapp {
  position: relative;
  height: 100%;
  width: 100%;
}

.mission .right_color .right_color_wrapp .shadow1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.mission .review {
  position: relative;
  margin-top: 24px;
  margin-bottom: 20px;
  padding-left: 6px;
  z-index: 1;
}

.mission .review .line {
  position: absolute;
  left: -53px;
  bottom: 12px;
  width: 43.3%;
  height: 3px;
  background-color: #1789bb;
  margin-bottom: -20px;
}

.mission .review .avatar {
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 134px;
  z-index: 1;
}

.mission .review .review_text {
  position: relative;
  width: calc(100% - 134px);
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #828282;
  padding-left: 15px;
  max-width: 450px;
  padding-right: 50px;
  z-index: 1;
}

.mission .text {
  font-family: "Open Sans", sans-serif;
  position: relative;
  font-size: 18px;
  line-height: 1.56;
  width: 64%;
  margin-bottom: 25px;
  padding-right: 12px;
  z-index: 1;
}

.mission .text:last-of-type {
  margin-bottom: 0;
}

b {
  font-weight: 700;
}

.symptom {
  padding-top: 134px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
  background-color: #f9fafe;
}

.symptom ._title {
  position: relative;
  z-index: 1;
  padding-left: 10px;
  width: 55%;
  margin: 4px 0 0 auto;
  text-align: left;
}

.symptom .limit {
  height: 1px;
  min-height: 762px;
  position: relative;
}

.symptom .symptom_left {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 100%;
  position: relative;
  margin-top: -108px;
}

.symptom .rhombus {
  position: absolute;
  max-width: 80vh;
  left: -20px;
  bottom: 0;
}

.symptom .rhombus_woman {
  position: absolute;
  left: 38px;
  bottom: 0;
  max-width: none;
}

.symptom .circle_pain {
  position: absolute;
  max-width: none;
  left: 0;
  top: 0;
  -webkit-animation: size 2s ease-in-out 0s normal none infinite;
  -moz-animation: size 2s ease-in-out 0s normal none infinite;
  animation: size 2s ease-in-out 0s normal none infinite;
}

.symptom .circle_pain._1 {
  left: 26px;
  top: -50px;
}

.symptom .circle_pain._2 {
  left: 212px;
  top: 126px;
}

.symptom .circle_pain._3 {
  left: 219px;
  top: 289px;
}

.symptom .circle_pain._4 {
  left: 231px;
  top: 477px;
}

.symptom .circle_pain._5 {
  left: 365px;
  top: 223px;
}

.symptom .symptom_right {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  position: relative;
}

.symptom .wrapp_list {
  position: relative;
}

.symptom .symptom_list {
  margin-top: 45px;
  margin-left: 52px;
}

.symptom .line {
  width: 549px;
  height: 509px;
  background: url("../images/lines_list.png") left top no-repeat;
  position: absolute;
  left: 51px;
  top: -2px;
  max-width: none;
}

.symptom .symptom_list-item {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
  position: relative;
  min-height: 97px;
  line-height: 95px;
}

.symptom .symptom_list-item p {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.56;
  color: #000;
}

.symptom .symptom_list-item:before {
  content: "";
  background: url("../images/arrow.png") center no-repeat;
  width: 107px;
  height: 15px;
  position: absolute;
  left: -145px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.symptom .symptom_list-item._1 {
  margin-left: 108px;
}

.symptom .symptom_list-item._2 {
  margin-left: 207px;
}

.symptom .symptom_list-item._3 {
  margin-left: 253px;
}

.problems {
  background: url("../images/back_problems.jpg") center top no-repeat;
  padding-top: 77px;
  padding-bottom: 59px;
  background-size: cover;
}

.problems .man {
  position: absolute;
  left: -406px;
  top: -140px;
  background: url("../images/man.png") center no-repeat;
  width: 695px;
  height: 560px;
  opacity: 0.4;
  transition: transform 0.4s;
}

.problems .limit {
  position: relative;
}

.problems ._title {
  position: relative;
  margin: 0 0 0 auto;
  width: 82%;
  text-align: right;
}

.problems_review {
  font-family: "Open Sans", sans-serif;
  margin-top: 45px;
  padding: 20px 22px;
  background: url("../images/back_review.png") center no-repeat;
  background-size: cover;
  position: relative;
}

.problems_review .wrapp_gif {
  position: absolute;
  width: 316px;
  height: 316px;
  right: -34px;
  bottom: -199px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border-radius: 70px;
  overflow: hidden;
}

.problems_review .wrapp_gif .gif_romb {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  max-width: none;
}

.problems_review .avatar {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  max-width: 134px;
}

.problems_review ._text {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.44;
  color: #fff;
  width: calc(100% - 134px);
  padding-left: 15px;
  padding-right: 220px;
}

.rubick_stick_wrapp {
  position: absolute;
  left: -22px;
  top: auto;
  bottom: -111px;
}

.rubick_stick_wrapp .rubick_back {
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 107%;
  max-width: none;
  width: auto;
}

.rubick_stick_wrapp .rubick_shadow {
  position: absolute;
  left: 50%;
  top: 62%;
  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 60px;
}

.rubick_stick_wrapp .rubick_stick {
  position: relative;
  text-align: center;
  max-width: 329px;
  min-height: 329px;
  padding-top: 30px;
}

.rubick_stick_wrapp .rubick_stick ._text {
  display: inline-block;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.2;
  margin-top: 10px;
  padding: 0 35px 50px;
}

.rubick_stick_wrapp .exclamation {
  background: url("../images/att.png") center no-repeat;
  width: 22px;
  height: 79px;
  display: block;
  margin: 0 auto;
}

.problems_list {
  margin-top: 45px;
}

.problems_list .problems_list-item {
  display: inline-block;
  vertical-align: top;
  width: 33.333%;
  padding-right: 20px;
  padding-left: 9px;
  margin-bottom: 45px;
}

.problems_list .problems_list-item:nth-child(2) {
  margin-right: 20px;
}

.problems_list .problems_list-item .pink {
  font-weight: 700;
  font-size: 18px;
  color: #d6005a;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 7px;
  width: 75%;
  position: relative;
  padding-left: 45px;
}

.problems_list .problems_list-item .text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.55;
  padding-left: 2px;
}

.problems_list .problems_list-item ._smile {
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.clear {
  clear: both;
}

.solving {
  padding-top: 106px;
  padding-bottom: 60px;
}

.solving .limit {
  padding: 0 10px;
}

.solving ._title {
  position: relative;
  color: #1789bb;
}

.solving_left {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  position: relative;
  z-index: 1;
}

.solving_left .title {
  font-weight: 600;
  font-size: 42px;
  line-height: 1;
  color: #1789bb;
  margin-top: 30px;
}

.solving_left .name_prod {
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
  color: #1789bb;
  margin-top: 20px;
}

.solving_left ._text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  color: #000000;
  width: 61%;
  margin-top: 11px;
  padding-left: 3px;
}

.solving_right {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  position: relative;
}

.solving_right .avatar {
  border-radius: 50%;
  max-width: 134px;
  position: absolute;
  left: -25%;
  top: 37%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.solving_right .circle_back {
  pointer-events: none;
  position: absolute;
  top: 44%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-width: none;
}

.solving_right .prod_wrapp {
  position: absolute;
  left: -40px;
  top: 28px;
  text-align: center;
}

.solving .prod_wrapp:before {
  margin: 50px 0 0 -25px;
  z-index: 1;
}

.solving_right .prod {
  position: relative;
  width: 300px;
}

.solving_right .flower_wrapp {
  position: relative;
}

.flower_wrapp img {
  max-width: 40%;
  position: relative;
  left: 80%;
  bottom: 100px;
}

.solving_right .flower_wrapp .flower {
  position: absolute;
  left: 24.8%;
  top: 86.5%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-width: none;
}

.solving_right .flower_wrapp .flower-back {
  position: absolute;
  left: -18%;
  top: 71.8%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-width: none;
}

.solving_right .solving_list {
  position: relative;
  margin-top: 67px;
  padding-left: 118px;
}

.solving_right .solving_list-item._1 {
  padding-left: 133px;
}

.solving_right .solving_list-item._2 {
  padding-left: 168px;
  margin-top: 9px;
}

.solving_right .solving_list-item._3 {
  margin-top: 14px;
  padding-left: 152px;
}

.solving_right .solving_list-item._4 {
  margin-left: 86px;
  margin-top: -2px;
}

.solving_right .solving_list-item img {
  display: inline-block;
  vertical-align: middle;
}

.solving_right .solving_list-item ._text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.1;
  display: inline-block;
  vertical-align: middle;
  padding-left: 13px;
  width: calc(100% - 125px);
}

.solving_right .solving_list-item ._text .pink {
  font-family: "Montserrat Alternates", sans-serif;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #1789bb;
}

.regulations {
  padding-top: 6px;
  padding-bottom: 108px;
}

.regulations .limit {
  padding: 0 10px;
}

.regulations ._title {
  position: relative;
  color: #1789bb;
}

.regulations ._title span {
  display: inline-block;
}

.regulations ._number {
  color: rgba(148, 100, 193, 0.13);
  font-weight: 700;
  font-size: 302px;
  line-height: 1;
  position: absolute;
  left: -5px;
  top: -130px;
  pointer-events: none;
}

.regulations ._subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  color: #000;
  margin: 35px 0 0;
  padding: 0 3px;
}

.regulations .regulations_card {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 36%;
  cursor: pointer;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transition: all 1s;
}

.regulations .regulations_card .circle {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: -53px;
  left: 82px;
  transition: all 1s;
}

.regulations .regulations_card:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}

.regulations .regulations_card:hover .circle {
  -webkit-animation: cardAnimation 20s linear infinite;
  -moz-animation: cardAnimation 20s linear infinite;
  animation: cardAnimation 20s linear infinite;
}

.regulations .regulations_card .icon {
  display: block;
  margin: 0 auto;
}

.regulations .regulations_card_name {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  margin-top: 2px;
  display: inline-block;
}

.regulations_card {
  position: relative;
  margin-top: 75px;
  max-width: 343px;
  border-radius: 30px;
  min-height: 385px;
}

.regulations_card ._text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 1.45;
  margin-top: 10px;
}

.regulations_card._morning {
  color: #522f72;
  background: url("../images/back_card1.png") center top no-repeat;
  background-size: cover;
  margin-right: 1.4%;
  padding: 106px 20px 41px;
}

.regulations_card._night {
  color: #ffffff;
  background: url("../images/back_card2.png") center top no-repeat;
  background-size: cover;
  padding: 106px 13px 34px;
}

.regulations_review {
  width: 28%;
  display: inline-block;
  vertical-align: top;
  /*padding-top: 30px;*/
  margin-top: 75px;
}

.regulations_review .avatar {
  border-radius: 50%;
  max-width: none;
}

.regulations_review .quotes {
  position: absolute;
}

.regulations_review ._text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  padding-left: 4px;
  padding-right: 18px;
}

._text_mod {
  position: relative;
}

._text_mod:after {
  content: "";
  background: url("../images/quotes.png") center no-repeat;
  width: 94px;
  height: 74px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 5px;
  opacity: 0.4;
}

.video ._text_mod:before {
  margin: 0 0 20px;
}

.video ._text_mod:after,
.exercise ._text_mod:after {
  display: none;
}

.regulations_review_top {
  position: relative;
  padding-left: 5px;
}

.regulations_review_top .quotes {
  position: absolute;
  right: 32px;
  bottom: -17px;
  max-width: none;
}

.video {
  background: #f3f3f3;
  padding-top: 92px;
  padding-bottom: 84px;
}

.video_left {
  position: relative;
  min-height: 500px;
}

.video .limit {
  position: relative;
  padding-bottom: 65px;
}

.video .white_back {
  position: absolute;
  width: 38%;
  height: 100%;
  background: #ffffff;
}

.video ._title {
  position: relative;
  padding-left: 33px;
  padding-top: 37px;
  color: #1789bb;
  z-index: 1;
}

.video ._number {
  position: absolute;
  right: 47px;
  top: -123px;
  color: rgba(148, 100, 193, 0.13);
  font-weight: 700;
  font-size: 302px;
  line-height: 1;
  pointer-events: none;
}

.video .avatar {
  border-radius: 50%;
  position: relative;
  margin-top: 26px;
  margin-left: 38px;
}

.video ._text {
  font-family: "Open Sans", sans-serif;
  position: relative;
  font-size: 18px;
  line-height: 1.56;
  width: 29.5%;
  padding: 44px 15px 25px 38px;
}

.video .video_wrapp {
  position: absolute;
  left: 50%;
}

.video .video_wrapp img {
  max-width: none;
}

.video ._video {
  position: relative;
  z-index: 1;
  width: 100%;
}

.video ._poster {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.video ._prod {
  transition: transform 0.4s;
  width: 250px;
}

.video .wrapp_play {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video .wrapp_play img {
  position: relative;
  width: 100%;
  z-index: 2;
}

.video .wrapp_play:before,
.video .wrapp_play:after {
  pointer-events: none;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) perspective(1px);
  transform: translate(-50%, -50%) perspective(1px);
  border-radius: 100%;
  border: 5px solid #fff;
  -webkit-animation: play 2s infinite linear;
  -ms-animation: play 2s infinite linear;
  animation: play 2s infinite linear;
  z-index: 1;
}

.video .wrapp_play:after {
  -webkit-animation-name: play2;
  -ms-animation-name: play2;
  animation-name: play2;
}

.video ._shadow {
  position: absolute;
  bottom: -52px;
  left: 53%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.exercise {
  padding-top: 120px;
  padding-bottom: 87px;
}

.exercise ._number {
  position: absolute;
  right: 227px;
  top: -110px;
  color: rgba(148, 100, 193, 0.13);
  font-weight: 700;
  font-size: 302px;
  line-height: 1;
  pointer-events: none;
}

.exercise ._title {
  color: #1789bb;
  position: relative;
  padding-right: 190px;
}

.exercise .limit {
  position: relative;
}

.exercise_review {
  margin-top: 50px;
}

.exercise_review .avatar {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.exercise_review ._text {
  display: inline-block;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  color: #1789bb;
  width: 100%;
  padding-left: 5px;
  padding-right: 20px;
  max-width: 490px;
  min-height: 137px;
}

.exercise_review ._text_mod {
  padding: 10px 0 10px 170px;
  max-width: 520px;
  min-height: initial;
}

.exercise ._text_mod:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -78px 0 0;
}

.exercise ._yoga {
  position: absolute;
  right: -103px;
  top: -96px;
  max-width: none;
  pointer-events: none;
}

.exercise .exercise_list {
  margin-top: 42px;
}

.exercise .exercise_list-item {
  display: inline-block;
  vertical-align: top;
  width: 29.5%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.exercise .exercise_list-item:nth-child(2) {
  margin: 0 5.75%;
}

.exercise .exercise_list-item ._comment {
  margin-top: 18px;
  text-align: center;
  font-size: 18px;
  line-height: 1.45;
  color: #000;
  padding: 0 4px;
}

.result {
  padding-top: 97px;
  padding-bottom: 93px;
  background-color: #f3f3f3;
  background-image: url("../images/back_sus.jpg");
  background-repeat: no-repeat;
  background-position: 81% -119px;
}

.result .limit {
  padding: 0 10px;
}

.result ._title {
  color: #1789bb;
}

.result_list {
  margin-top: 38px;
}

.result_list-item {
  display: inline-block;
  vertical-align: top;
  width: 32%;
}

.result_list-item:nth-child(2) {
  margin: 0 2%;
}

.result .result_name {
  line-height: 60px;
  min-height: 60px;
}

.result .result_name span {
  font-size: 30px;
  line-height: 1;
  color: #1789bb;
  font-weight: 700;
  display: inline-block;
  vertical-align: bottom;
}

.result_name {
  font-weight: 600;
}

.result_photo {
  margin-top: 13px;
  margin-left: 5px;
}

.result_photo span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  color: #fff;
  padding: 3px 11px;
}

.result_photo_before {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
}

.result_photo_after {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.result .plus_list {
  margin-top: 21px;
}

.result .plus_list-item {
  font-family: "Open Sans", sans-serif;
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
  position: relative;
  padding-left: 42px;
  margin-bottom: 18px;
}

.result .plus_list-item:before {
  content: "";
  background: url("../images/plus.png") center no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.planos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: auto;
  background: radial-gradient(circle, #1789bb50 30%, #f3f3f3 70%);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: auto;
  background: #f3f3f3;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.background {
  width: 75%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.plano1,
.plano3,
.plano5,
.plano10 {
  flex: 1 1 300px;
  min-width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #1789bb20;
}

.user1,
.user2,
.user3,
.user4 {
  flex: 1 1 300px;
  min-width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #1789bb20;
}

.title_plan {
  width: 75%;
  height: 8%;
  margin-top: 1rem;
  border-radius: 15px;
  background-color: #1789bb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 7px;
}

.title_plan p {
  font-weight: bold;
  color: white;
}

.img_plan {
  margin-top: 1rem;
  min-height: 255.37px;
  text-align: center;
}

.img_plan img {
  max-width: 100%;
  height: auto;
}

.amount_plan {
  width: 50%;
  height: 7%;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #1789bb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 3dvb;
}

.amount_plan p {
  font-weight: bold;
  color: white;
}

.prices {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.old_price {
  font-size: 18px;
  color: #888;
}

.avista{  
  font-size: 18px;
  color: #888;
}

.avista span{  
  font-size: 22px;
}

.old_price span {
  font-size: 22px;
  text-decoration: line-through;
  color: #d32f2f;
}

.new_prie {
  font-size: 24px;
  font-weight: bold;
  color: #1789bb;
}

.new_prie span {
  font-size: 28px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 1rem;
  background: radial-gradient(circle, #1789bb60 20%, #f3f3f3 70%);
}

.footer_center {
  display: flex;
  width: 80%;
  height: 100%;
}

.footer_left {
  flex: 2;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0 1rem 1rem;
}

.footer_left_text {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  color: #1789bb;
}

.footer_left_text h2 {
  color: #1789bb;
}

.img_footer {
  max-height: 60%;
}

.footer_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0 1rem 1rem;
}

.footer_right h3 {
  color: #1789bb;
}

.page {
  overflow: hidden;
}

.name_prod_mob {
  display: none;
}

.first_review_mob {
  display: none;
}

.avatar_mob {
  display: none;
}

.page .slick-dots {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
}

.page .slick-dots li {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #1789bb;
  cursor: pointer;
  margin-left: 5px;
  transition: background 0.2s;
}

.page .slick-dots li:first-of-type {
  margin-left: 0;
}

.page .slick-dots li:hover {
  background: rgba(148, 100, 193, 0.8);
}

.page .slick-dots li.slick-active {
  background: #e11962;
}

.page .slick-dots li button {
  font-size: 0;
}

/*animation*/
@-webkit-keyframes play {
  0% {
    width: 0;
    height: 0;
    border-width: 1px;
    opacity: 0.1;
  }

  50% {
    opacity: 0.9;
  }

  80% {
    opacity: 0.1;
    border-width: 5px;
  }

  100% {
    width: 200%;
    height: 200%;
    border-width: 15px;
    opacity: 0;
  }
}

@keyframes play {
  0% {
    width: 0;
    height: 0;
    border-width: 1px;
    opacity: 0.1;
  }

  50% {
    opacity: 0.9;
  }

  80% {
    opacity: 0.1;
    border-width: 5px;
  }

  100% {
    width: 200%;
    height: 200%;
    border-width: 15px;
    opacity: 0;
  }
}

@-webkit-keyframes play2 {
  0% {
    width: 0;
    height: 0;
    border-width: 1px;
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.1;
    border-width: 15px;
  }

  100% {
    width: 300%;
    height: 300%;
    border-width: 50px;
    opacity: 0;
  }
}

@keyframes play2 {
  0% {
    width: 0;
    height: 0;
    border-width: 1px;
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.1;
    border-width: 15px;
  }

  100% {
    width: 300%;
    height: 300%;
    border-width: 50px;
    opacity: 0;
  }
}

@-webkit-keyframes size {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
  }

  100% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
  }
}

@keyframes size {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
  }

  100% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
  }
}

@-webkit-keyframes cardAnimation {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
  }

  10% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }

  20% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }

  60% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
  }

  70% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
  }

  90% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }

  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
  }
}

@keyframes cardAnimation {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
  }

  10% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }

  20% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }

  60% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
  }

  70% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
  }

  90% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }

  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
  }
}

@media all and (max-width: 1524px) {
  .mark_list {
    width: 70%;
  }
}

/*animation end*/
@media all and (max-width: 1024px) {
  .regulations_card._morning {
    margin-right: 1.2%;
  }
  
  .first_prod-block .prod {
    position: relative;
    z-index: 1;
    max-width: 140px;
    top: 40%;
    left: 15%;
  }
  .prod_wrapp:before{
    top: 0;
  }
}

@media all and (max-width: 990px) {
  .first .limit {
    padding-top: 0;
  }

  video {
    max-width: 100%;
  }

  .limit {
    max-width: 320px;
    padding: 0 10px;
  }

  .first {
    padding-top: 9px;
    padding-bottom: 16px;
  }

  .first .first_back {
    background: url("../images/first_back_mob.png") center no-repeat;
    width: 629px;
    height: 451px;
    left: -240px;
    top: -9px;
  }

  .first .name_prod {
    display: none;
  }

  .name_prod_mob {
    font-weight: 900;
    display: block;
    font-size: 43px;
    text-align: center;
    line-height: 1;
    color: #ffffff;
    text-shadow: 3px 4px 5px rgba(123, 102, 3, 0.46);
  }

  .first_wrapp_position h2.subtitle {
    display: none;
  }

  h1.title {
    font-size: 23px;
    line-height: 1.13;
    margin-top: 4px;
    padding-right: 0;
  }

  .first h1.title span {
    display: inline-block;
  }

  .mark_wrapp {
    display: none;
  }

  .first .avatar {
    display: none;
  }

  .first .decorate {
    display: none;
  }

  .first_prod-block {
    padding-top: 25px;
    position: static;
    left: auto;
    top: auto;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
  }

  .first_prod-block .prod {
    pointer-events: none;
    position: relative;
    top: 10%;
  }

  .first_prod-block .prod_wrapp {
    width: auto;
    height: auto;
    margin-bottom: -77px;
  }

  .first .prod_wrapp:before {
    display: none;
  }

  .first__text {
    display: none;
  }

  .first__text_mobile {
    display: block;
    font-size: 15px;
    padding: 20px 0 20px 65px;
    line-height: 1.2;
    position: relative;
  }

  .first__text_mobile:before {
    content: "";
    background: url("../images/author_ava.jpg") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -25px 0 0;
  }

  .first .dance {
    max-width: 199px;
    bottom: -60px;
  }

  .first .stick_list {
    z-index: 1;
    left: 70%;
  }

  .first_review_mob {
    display: block;
    margin-top: 11px;
  }

  .first_review_mob .avatar {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    position: static;
  }

  .first_review_mob ._text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 50px);
    font-size: 15px;
    line-height: 1.2;
    color: #fff;
    padding-left: 5px;
    padding-right: 80px;
  }

  .mission .right_color {
    display: none;
  }

  .mission_content {
    padding: 17px 0 28px;
  }

  h3.title {
    font-size: 22px;
    line-height: 1.1;
    letter-spacing: -0.2px;
  }

  .mission .content_right_color {
    display: none;
  }

  .mission .limit {
    max-width: 320px;
    padding: 0 10px;
    background: #fff;
  }

  .mission .review .avatar {
    max-width: 64px;
  }

  .mission .review .review_text {
    font-size: 14px;
    line-height: 1.3;
    width: calc(100% - 64px);
    padding: 6px;
  }

  .mission .review {
    margin-top: 15px;
    padding-left: 0;
    margin-bottom: 15px;
  }

  .mission .sign {
    display: none;
  }

  .mission .shadow2 {
    display: none;
  }

  .mission .review .line {
    position: static;
    left: auto;
    top: auto;
    bottom: auto;
    width: 100%;
    margin-top: 15px;
  }

  .mission .text {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    padding-right: 0;
    margin-bottom: 8px;
  }

  .symptom {
    padding-top: 49px;
    padding-bottom: 48px;
  }

  .symptom ._title {
    font-size: 30px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .symptom .symptom_left {
    min-height: 340px;
  }

  .symptom .line {
    display: none;
  }

  .symptom .symptom_list-item:before {
    content: none;
  }

  .symptom .symptom_list {
    margin: 0;
    padding: 32px 0 0 16px;
    border-radius: 15px;
  }

  .symptom .symptom_list-item p {
    text-transform: none;
    font-size: 16px;
    line-height: 1.125;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
      0 0 70px #fff;
  }

  .symptom .symptom_list-item {
    min-height: 0;
    line-height: normal;
    margin: 0;
  }

  .symptom .symptom_list-item._1,
  .symptom .symptom_list-item._2,
  .symptom .symptom_list-item._3 {
    margin: 0 auto 16px;
  }

  .symptom .symptom_left {
    margin-top: 0;
  }

  .symptom .limit {
    min-height: 0;
    height: auto;
  }

  .symptom .rhombus {
    position: absolute;
    max-width: 254px;
    left: -10px;
    bottom: 18px;
  }

  .symptom .rhombus_woman {
    position: absolute;
    left: -3px;
    bottom: 19px;
    max-width: 190px;
  }

  .rubick_stick_wrapp {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
  }

  .rubick_stick_wrapp .rubick_back {
    display: none;
  }

  .rubick_stick_wrapp .rubick_shadow {
    display: none;
  }

  .rubick_stick_wrapp .rubick_stick ._text {
    text-align: left;
    padding: 0;
    font-size: 19px;
    line-height: 1.27;
    color: #e11962;
  }

  .rubick_stick_wrapp .rubick_stick {
    width: 100%;
    height: auto;
    padding-top: 13px;
    min-height: 0;
  }

  .rubick_stick_wrapp .exclamation {
    background: url("../images/att_mob.png") center no-repeat;
    width: 41px;
    height: 107px;
    margin: 0;
    position: absolute;
    left: 5px;
    top: -91px;
  }

  .problems ._title {
    text-align: left;
    width: 100%;
    margin: 0;
    font-size: 25px;
    line-height: 1;
    letter-spacing: -0.9px;
  }

  .problems {
    padding-top: 48px;
    background: #dce1ec;
    padding-bottom: 46px;
  }

  .problems_review {
    margin-top: 135px;
    padding: 20px 13px 29px;
    background: url("../images/back_review_mob.jpg") center no-repeat;
    background-size: cover;
  }

  .problems_review .avatar {
    max-width: 80px;
    margin: -48px 0 4px;
  }

  .problems_review ._text {
    width: 100%;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
  }

  .problems_review .wrapp_gif {
    width: 147px;
    height: 147px;
    bottom: auto;
    top: -115px;
    right: 8px;
    border-radius: 33px;
  }

  .problems_review .wrapp_gif .gif_romb {
    width: 208px;
  }

  .problems_list {
    margin-top: 20px;
    padding-bottom: 34px;
  }

  .problems_list .problems_list-item {
    outline: none;
    width: 100%;
    margin: 0 0 0;
    padding: 11px 0 0;
  }

  .problems_list .problems_list-item:nth-child(2) {
    margin-right: 0;
  }

  .problems_list .problems_list-item .text {
    font-size: 16px;
  }

  .solving {
    padding-top: 49px;
  }

  h2._title {
    font-size: 30px;
    line-height: 1;
  }

  .solving ._title {
    font-size: 30px;
    line-height: 1;
    padding-left: 2rem;
  }

  .solving_left {
    width: 100%;
  }

  .solving_right {
    width: 100%;
  }

  .solving_left .title {
    margin-top: 20px;
    font-size: 33px;
  }

  .solving_left .name_prod {
    font-size: 43px;
    margin-top: 15px;
  }

  .solving_left ._text {
    padding-left: 0;
    font-size: 16px;
    width: 55%;
    margin: 40px 0 20px;
  }

  .solving_right .prod_wrapp {
    left: auto;
    top: -300px;
    right: -50px;
  }

  .solving_right .prod {
    max-width: 125px;
  }

  .solving_right .solving_list {
    padding-left: 0;
    margin-top: 20px;
    padding-bottom: 27px;
  }

  .solving_right .avatar {
    max-width: 98px;
    left: 57.5%;
    top: -14.6%;
  }

  .solving_right .flower_wrapp .flower {
    max-width: 167px;
  }

  .solving_right .flower_wrapp .flower-back {
    display: none;
  }

  .solving_right .circle_back {
    max-width: 318px;
  }

  .solving_right .solving_list-item {
    outline: none;
  }

  .solving_right .solving_list-item._1,
  .solving_right .solving_list-item._2,
  .solving_right .solving_list-item._3,
  .solving_right .solving_list-item._4,
  .solving_right .solving_list-item._5 {
    padding: 0;
    margin: 0;
  }

  .solving_right .solving_list-item ._text {
    font-size: 16px;
    padding-left: 10px;
  }

  .solving_right .solving_list-item ._text .pink {
    font-size: 16px;
  }

  .solving .solving_right .prod_wrapp:before {
    position: relative;
    margin: 0 0 -10px auto;
    display: block;
    width: 90px;
    height: 90px;
    -webkit-background-size: 100%;
    background-size: 100%;
  }

  .regulations ._title {
    font-size: 30px;
  }

  .regulations {
    padding-top: 32px;
    padding-bottom: 57px;
  }

  .regulations ._text_mod:before,
  .video ._text_mod:before {
    -webkit-background-size: contain;
    background-size: contain;
    width: 90px;
    height: 90px;
    margin: 0;
    position: absolute;
    bottom: 100%;
  }

  .video ._text_mod:before {
    position: relative;
    bottom: auto;
    float: left;
    margin: 0 10px 0 0;
  }

  .regulations ._text_mod:after {
    top: auto;
    bottom: 100%;
  }

  .regulations ._title span {
    display: inline;
  }

  .regulations ._number {
    font-size: 206px;
    left: -12px;
    top: -69px;
  }

  .regulations_review {
    width: 100%;
  }

  .regulations ._subtitle {
    font-size: 20px;
  }

  .regulations_review .avatar {
    display: none;
  }

  .wrapp_mob {
    margin-top: 33px;
    position: relative;
    z-index: 1;
  }

  .wrapp_mob img {
    display: inline-block;
    vertical-align: middle;
    max-width: 92px;
  }

  .regulations ._subtitle {
    display: block;
    vertical-align: middle;
    margin: 0 0 0 auto;
    width: 65%;
    padding: 0 0 10px;
  }

  .regulations_review {
    padding-top: 0;
    margin-top: 0;
  }

  .regulations_review_top .quotes {
    right: 92px;
    bottom: 13px;
  }

  .regulations_review ._text {
    font-size: 16px;
    padding: 0;
    margin-top: 6px;
  }

  .regulations_card ._text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 4px;
  }

  .regulations .regulations_card {
    width: 100%;
    margin: 53px 0 0;
    padding: 69px 10px 41px;
    border-radius: 55px;
  }

  .regulations .regulations_card .circle {
    max-width: 135px;
    top: -51px;
  }

  .regulations .regulations_card .icon {
    display: inline-block;
    vertical-align: middle;
    max-width: 35px;
    margin-right: 7px;
  }

  .regulations .regulations_card_name {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  }

  .regulations_card._night {
    margin-top: 25px;
  }

  .video .white_back {
    display: none;
  }

  .video .limit {
    background: #ffffff;
    padding-bottom: 0;
  }

  .video ._title {
    display: block;
    padding: 20px 0 10px;
    line-height: 1.25;
    font-size: 28px;
    margin: 0 0 0 auto;
  }

  .video .avatar {
    position: absolute;
    z-index: 1;
    margin: 0;
    left: 7px;
    top: 12px;
    padding: 0;
    max-width: 90px;
  }

  .video {
    padding-top: 0;
    padding-bottom: 41px;
  }

  .video_left {
    min-height: 0;
    padding: 30px 0 0;
  }

  .video ._text {
    width: 100%;
    padding: 0;
    font-size: 16px;
  }

  .video ._prod,
  .video ._shadow {
    display: none;
  }

  .video .video_wrapp {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    margin: 23px -10px 0;
  }

  .video ._video {
    width: 100%;
  }

  .video ._number {
    font-size: 206px;
    right: -6px;
    top: -44px;
    color: rgba(148, 100, 193, 0.06);
  }

  .exercise ._yoga {
    display: none;
  }

  .exercise {
    padding-top: 60px;
    padding-bottom: 43px;
  }

  .exercise ._title {
    padding: 0;
  }

  .exercise_review ._text_mod {
    padding: 10px 0;
  }

  .exercise ._text_mod:before {
    width: 90px;
    height: 90px;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
    display: block;
    float: left;
    margin: 0 10px 0 0;
  }

  .exercise_review .avatar {
    max-width: 90px;
  }

  .exercise_review {
    margin-top: 26px;
  }

  .exercise_review ._text {
    font-size: 16px;
  }

  .exercise .exercise_list-item {
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;
  }

  .exercise .exercise_list-item img {
    display: inline-block;
  }

  .exercise .exercise_list-item ._comment {
    padding: 0;
    font-size: 16px;
    margin-top: 12px;
    line-height: 1.5;
  }

  ._comment {
    padding: 0;
    font-size: 16px;
    margin-top: 12px;
    line-height: 1.5;
  }

  .exercise .exercise_list-item:nth-child(2) {
    margin: 0 auto 10px;
  }

  .exercise .exercise_list {
    margin-top: 20px;
    padding-bottom: 23px;
  }

  .exercise ._number {
    font-size: 206px;
    right: -18px;
    top: -57px;
  }

  .result {
    padding-top: 51px;
    padding-bottom: 48px;
    background: #f3f3f3;
  }

  .result_list-item {
    width: 100%;
  }

  .result_list-item:nth-child(2) {
    margin: 0 auto;
  }

  .result_list {
    margin-top: 23px;
    padding-bottom: 26px;
  }

  .result .result_name {
    line-height: normal;
    min-height: 0;
    margin-bottom: 9px;
  }

  .result .result_name span {
    font-size: 20px;
  }

  .result_photo {
    margin: 0 auto;
  }

  .result .plus_list-item {
    font-size: 16px;
  }

  .result .plus_list {
    margin-top: 15px;
  }

  .wrapp_woman {
    position: relative;
    width: 100%;
    max-width: 320px;
    display: block;
    margin: 0 auto;
  }

  .problems .man {
    opacity: 0.2;
  }

  .symptom .circle_pain {
    max-width: 85px;
  }

  .symptom .circle_pain._1 {
    left: -28px;
    top: 1px;
  }

  .symptom .circle_pain._2 {
    left: -12px;
    top: 91px;
  }

  .symptom .circle_pain._3 {
    left: 44px;
    top: 53px;
  }

  .symptom .circle_pain._4 {
    left: 51px;
    top: 128px;
  }

  .symptom .circle_pain._5 {
    left: 48px;
    top: 193px;
  }

  .video .wrapp_play {
    max-width: 65px;
  }

  .footer_center {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
